<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <form [formGroup]="form" class="todo-form">
    <mat-form-field>
      <mat-label>Label</mat-label>
      <input matInput placeholder="Label" formControlName="label">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category.value">
          {{ category.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button
    mat-button
    mat-raised-button
    color="primary"
    [disabled]="form.pristine || form.invalid"
    (click)="close(true)"
  >
      Save
  </button>
  <button mat-button (click)="close()">Cancel</button>
</div>
